html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
}
canvas {
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    border: var(--primary-color) solid 5px;
    transform: translateY(-50%) translateX(-50%);
    width: 1024px;
    height: 576px;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 2rem;
    box-sizing: border-box;
}
header div {
    display: flex;
}
header div img{
    width: 30px;
    margin-right: 1rem;
}
.play-button {
    margin-left: 1rem;
    cursor: pointer;
    width: 30px;
}

h1, h2 {
    margin: 0;
    color: #FEFFBF;
    font-size: 1.5rem;
    font-family: Roboto,sans-serif;
}
span.waiting {
    color: #c7a837;
}
span.running {
    color: #179517;
}
span.eliminated {
    color: #c62020;
}
#error-message.hidden {
    display: none;
}

#error-message {
    border-radius: 20px;
    border: var(--primary-color) solid 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
#error-message h3 {
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    text-align: center;
    margin: 0 0 0.5rem;
}
#error-message a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    margin-top: 1rem;
}
#winner-message.hidden {
    display: none;
}

#winner-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: var(--primary-color) solid 5px;
    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#winner-message h3 {
    color: #FEFFBF;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    text-align: center;
}