h1 {
    font-family: a•space, sans-serif;
    color: var(--primary-color);
    width: 400px;
    font-size: 4rem;
    text-align: center;
}

img {
    position: absolute;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -400px;
}

span {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (min-height: 800px ) {
    #buttons {
        top: 20%;
    }
}
body{
    background-image: url("../assets/stars.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dialog{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background: var(--color-back);
    border-radius: 20px;
    border: var(--primary-color) solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hidden{
    display: none;
}
label {
    font-size: 1rem;
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
}
input{
    border: var(--primary-color) solid 2px;
    font-size: 1rem;
    outline: none;
    max-width: 200px;
    padding: 0.2rem 0.5rem;
    color: white;
    border-radius: 20px;
    background: transparent;
}
.dialog-buttons {
    display: flex;
    width: 160px;
    justify-content: space-between;
}
.dialog-button {
    background: transparent;
    font-size: 1rem;
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    border: none;
    cursor: pointer;
}
