:root{
    --color-back: #1E1E1E;
    --primary-color: #FFE70D;
}

@font-face {
    font-family: a•space;
    src: url("../fonts/aspace_demo.otf") format("opentype");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color-back);
}

.hidden{
    display: none;
}